# Ignore environment secrets
../.env
.env/
.env

# Ignore Python cache and venv
__pycache__/
*.pyc
.venv/
venv/

# Ignore IDE settings
.idea/
.vscode/

# Ignore RStudio files (not used in this project)
.Rproj.user
.Rhistory
*.Rproj

# Ignore local notebooks and temp files
.ipynb_checkpoints/
.DS_Store
